{% extends "detector/base.html" %}
{% block title %}로그인{% endblock %}

{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-signup"> <header>로그인</header>
        <section>
            <form method="post" action="{{url_for('auth.login')}}" novalidate="novalidate">
                {{ form.csrf_token }}
                
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash" style="color: red;">{{ message }}</div>
                {% endfor %}

                <p>
                    {{ form.email.label }}
                    {{ form.email(class="form-control dt-auth-input", placeholder="메일 주소") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>

                <p style="margin-top: 20px;">
                    {{ form.password.label }}
                    {{ form.password(class="form-control dt-auth-input", placeholder="비밀번호") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>

                <p style="margin-top: 20px;">
                    {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
                </p>
            </form>
        </section>
    </div>
</div>
{% endblock %}